body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}
header h2 {
  font-size: 24px;
}
.photo {
  flex: 0 0 260px;
  height: 420px;
  margin-top: -40px;
  margin-bottom: -40px;
  margin-right: -40px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
}
.photo h1 {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 36px;
  color: #ffffff;
  border-radius: 4px;
  z-index: 3;
  white-space: nowrap;
}
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: -250px center;
}

.about {
  flex: 1 1 auto;
  padding: 4rem;
  max-width: 50rem;
  box-shadow: 0rem 0.1rem 1rem black;
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}
.icons {
  display: flex;
  gap: 10px;
  justify-content: end;
}
.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
body:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 40rem;
  background-color: #3abedc;
  transform-origin: 0;
  transform: skewY(-10deg);
  box-shadow: 0rem 0.1rem 1rem black;
}
.about p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.my-work-title {
    font-size: 24px;
    padding: 0 4rem 0 4rem; 
}
.projects-container {
    display:grid;
    grid-template-columns: auto auto auto ;
    gap: 2rem;
    padding: 0 4rem 0 4rem; 
}

.project {
    display: flex;
    flex-direction: column;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    
}
.project h3 {
    font-size: 24px;
    background-color: #3abedc;
    margin: 0;

    color: #ffffff;
    text-align: center;
    height:200px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0 2rem; 
}

.project-name{
    font-size: 24px;
}

.project-description{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1rem;
    padding: 0 2rem 0 2rem ;
}